@model _20202c_Clase5_LayoutsValidaciones.Models.Usuario

@{
    ViewBag.Title = "Alta";
    Layout = "~/Views/Shared/_LayoutConRegiones.cshtml";
}

@section HeadScripts{
    <script src="~/Scripts/jquery-1.8.0.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
}
<h2>Alta</h2>
<form action="/usuarios/Alta" method="post">
    <div>
        <div style="color:red">
            @Html.ValidationMessageFor(Model => Model.NombreUsuario)
        </div>
        <div style="color:red">
            @Html.ValidationMessageFor(Model => Model.Email)
        </div>
        <div style="color:red">
            @Html.ValidationMessageFor(Model => Model.ReEmail)
        </div>
        <div style="color:red">
            @Html.ValidationMessageFor(Model => Model.Edad)
        </div>
        <div style="color:red">
            @Html.ValidationMessageFor(Model => Model.Contrasenia)
        </div>
        <div style="color:red">
            @Html.ValidationMessageFor(Model => Model.Biografia)
        </div>
    </div>
    <div>
        Nombre de usuario: @Html.EditorFor(Model => Model.NombreUsuario)
    </div>
    <div>
        @Html.DisplayNameFor(Model => Model.Email): @Html.EditorFor(Model => Model.Email)
    </div>
    <div>
        @Html.DisplayNameFor(Model => Model.ReEmail): @Html.EditorFor(Model => Model.ReEmail)
    </div>
    <div>
        @Html.DisplayNameFor(Model => Model.Edad): @Html.EditorFor(Model => Model.Edad)
    </div>

    <div>
        @Html.DisplayNameFor(Model => Model.Contrasenia): @Html.PasswordFor(Model => Model.Contrasenia)
    </div>

    <div>
        @Html.DisplayNameFor(Model => Model.Biografia): @Html.TextAreaFor(Model => Model.Biografia)
    </div>

    <input type="submit" name="btnGuardar" value="Guardar" />
</form>

